.login {
  display: flex;
  height: calc(100vh - 80px);
  @include onTablet {
    flex-direction: column;
  }
  @include onPhone {
    flex-direction: column;
  }
  &__img {
    background-image: url('../../public/login-img.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    @include onTablet {
      height: 30%;
    }

    @include onPhone {
      height: 30%;
    }
  }
  &__form {
    margin-inline: 100px;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    @include onTablet {
      margin-top: 80px;
    }
    @include onPhone {
      margin-top: 40px;
      margin-inline: 40px;
    }
  }
  &__title {
    text-align: left;
    margin-bottom: 20px;
  }
  &__btn {
    background: $color-button;
    width: 100%;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    @include hover(
      box-shadow,
      (
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px
      )
    );
    @include hover(background-color, #ead1a7);
  }
  &__link {
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
  }
  &__label {
    margin-bottom: 3px;
  }
  &__input {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 15px;
  }
}

.input {
  width: 350px;
  height: 48px;
  background-color: $input-color;
  border: 2px solid #e0e0e0;
  outline: none;
  border-radius: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  @include hover(background-color, $hover-color-input);
  @include focus(box-shadow, 0 0 5pt 0.5pt #d3d3d3);
  @include onTablet {
    width: 100%;
  }
  @include onPhone {
    width: 100%;
  }
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.link {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: $color-button;
  text-decoration: none;
  @include hover(color, #ead1a7);
}
.error-message {
  color: red;
}
.error {
  color: red;
  text-align: center;
}
