html {
  height: 100%;
  font-family: Merriweather;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
